	
	<div class="limiter">
      <div class="arrow-up"></div>

      <div class="container">
        <div class="login">
          <form class="loginform">
            <div class="head">
              <h2><b>LOGIN</b></h2>
            </div>
 
            <div class="email validate-input" data-validate = "Valid email is required: ex@abc.xyz">
              <input class="input" type="text" name="email" placeholder="Type your username">
            </div>
  
            <div class="password validate-input" data-validate = "Password is required">
              <input class="input" type="password" name="pass" placeholder="Type your username">
            </div>

            
            <div class="container-login100-form-btn p-t-25">
              <button class="loginbtn">
                Login
              </button>
            </div>
  
            <div class="orLogin">
              <span class="txt1">
                Or Sign Up Using
              </span>
            </div>
  
    
            <span class="txt1"><a href="#" class="fa fa-facebook"></a></span>
            <span class="txt1"><a href="#" class="fa fa-google"></a></span>
            <span class="txt1"><a href="#" class="fa fa-twitter"></a></span>
       
          </form>
        </div>
      </div>
    </div>
    
    
  